firmware/*.asm
firmware/*.bin
firmware/*.elf
firmware/*.ihx
firmware/*.cdb
firmware/*.lk
firmware/*.map
firmware/*.adb
firmware/*.lst
firmware/*.rel
firmware/*.rst
firmware/*.sym
firmware/Debug
configuration_tool/configuration_tool-sources/build
configuration_tool/configuration_tool-sources/dist

