main.hex
*.asm
*.bin
*.elf
*.ihx
*.cdb
*.lk
*.map
*.adb
*.lst
*.rel
*.rst
*.sym
!*.dll
!*.exe
Debug
/tools/nbproject/private/
/tools/JavaConfigurator/nbproject/private/
/tools/JavaConfigurator/build/
/tools/JavaConfigurator/dist/